node_modules/
.env
.env.*
!.env.example

.svelte-kit/
obj/
bin/
Logs/
.idea/
.vs
api/src/club/bin*

# Playwright screenshots
**/__screenshots/
.DS_Store
*.log

.agents/skills/aspire*/evals/

private_key.json
temp/
