.loading-theme-dark {
	--loading-background-dark: oklch(0.141 0.005 285.823);
	background-color: var(--background, var(--loading-background-dark));
}

.loading-theme-light {
	--loading-background-light: oklch(1 0 0);
	background-color: var(--background, var(--loading-background-light));
}
