[data-theme="kayord"] {
	--primary: oklch(0.558 0.226 262);
	--primary-foreground: oklch(0.958 0.006 265);
	--ring: oklch(0.558 0.226 262);
	--sidebar-primary: oklch(0.558 0.226 262);
	--sidebar-ring: oklch(0.558 0.226 262);

	&:where(.dark) {
		--primary: oklch(0.767 0.111 260);
		--primary-foreground: oklch(0.243 0.03 284);
		--ring: oklch(0.767 0.111 260);
		--sidebar-primary: oklch(0.767 0.111 260);
		--sidebar-ring: oklch(0.767 0.111 260);
	}
}
